/* src/index.css */
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #ffe6f0;
}

.hstyle {
 font-family: 'Homemade Apple', cursive;
}
h1 {
   text-align: center;
}

h2 {
  text-align: left;
}
input {
  margin: 20px;
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 300px;
  border: 1px solid #ccc;
  border-radius: 12px; 
}

.movie-poster {
  width: 280px;        
  height: 350px;       
  object-fit: cover;  
  border-radius: 10px; 
}
